.selected {
  background: #ffe266 !important;
  border: 2px solid #827a6a;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.selected .tableBoxLabel {
  color: #000;
}
.tableBox {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  background: rgba(104, 93, 74, 0.8);
  color: #fff;
  border: 2px solid #685d4a;
  font-weight: 600;
  /* font-size: 16px; */
  margin: 5px;
}

.circle {
  border-radius: 100% !important;
}

.tableBoxLabel {
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
